<div class='row'>
	<h1 class='m-5 text-center'>About</h1>
	<article>
		<h2>About</h2>
		<p>Hi, I'm TUSHAR PANJETA.
       I have a passion for computers and am an average student. I make an effort to lead a positive and purposeful existence.
        I like to watch movies and web series in my spare time.
         I am constantly searching for new experiences and chances to advance both personally and professionally.
         </p>
		<p>A career oriented individual seeking to grow in a competitive and professional space. As a student looking for motivating roles to develop interactive skills and cater to the requirements of the team. 
     </p>
         <p>I am currently studying in seneca college and pursuing Computer programming</p>
         <p>I have keen interest in javascript and i do igt in my leisure time."</p>
        
	</article>
</div>