<div class='row mt-5'>
	<div class='col-md-12'>
		<h2 class='text-center'><b>Add Category</b></h2>
		<form method='post' action='/category/add' >
			<h3>
				Category
			</h3>
			<div class='input-group mb-3'>
				<input
					type='text'
					class='form-control'
					autofocus
					aria-label='Category'
					name="category"
                    
				/>
			</div>
            <div class="d-flex justify-content-center">
			<input
				type='submit'
				class='btn btn-primary pull-right'
				value='Add Category'
			/>
            </div>
			
		</form>
	</div>
</div>